footer{
	font-family: 'Roboto';
}
footer p{
	font-family: 'Amatic SC', cursive;
}
footer .row{
	margin-bottom: 0px;
	margin-top: 40px;
}

footer.grey.darken-4 {
    margin-top: 50px !important;
   }

.fa-facebook-official{
	color: white;
	background-color: blue;
	font-size: 40px !important;
}

.fa-youtube-play{
	color: white;
	background-color: red;
	font-size: 40px !important;
}

#derechos{
	color: #4DB6AC;
}